*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato','Arial',sans-serif;
    color: #555;
    background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}

.row{
    margin: 0 auto;
    max-width: 1140px;
    
}
.dev-msg{
    margin: 0 20px;
}
h1{
    background-color: #0984e3;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    font-size: 200%;
    padding: 20px 10px;
    width: 100%
    
}
b{
    font-weight: 400;
}
.icon-msg{
    font-size: 60px;
    color:rgba(9, 132, 227, 0.63) ;
}
/* dev section 2*/
.dev-intro{
    margin-top: 40px; 
    background-color:#0984e3;
    width: 500px;
    height: auto;
    border-radius: 100px;
    padding: 10px;
    margin-left: 10px;
    transition: box-shadow 0.5s;
}
.dev-img{
    height: 100px;
    border-radius: 50px;
    position: relative;
    float: left;
    
}
h2{
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    margin: 0px 0 0 20px;
    color: #fff;
    font-size: 35px;
}
.section-social-icons{
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 20px;
    float: left;
}
.icon-social:link,
.icon-social:visited{
    text-decoration: none;
    color:#00334a ;
    margin-right: 3px;
    font-size: 36px;
    transition: color 0.3s;
}
.icon-social:hover,
.icon-social:active{
    color: #fff;
}
.dev-intro:hover{
    box-shadow: 1px 1px 50px #aaa;
}





